/*media screen*/
$screen_phone: 38em;
$screen_tablet: 60em;

/*sizes*/
$sizeTopMenu: 45px;

/*primesi*/
@mixin flex {
  display: -webkit-flex;
  display: flex;
}

@mixin grid {
  display: grid;
}

@mixin border {
  border: 1px solid #F00;
}

@mixin radiusContentBlock {
  border-radius: 3px;
}


/*shadows*/
@mixin shadowMainMenu {
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
  box-shadow: 0 0 20px rgba(0,0,0,.2);
}

@mixin shadowScrolledMenu {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

@mixin shadowUserProfile {
  -webkit-box-shadow: 0 -6px 40px rgba(0,0,0,.4)!important;
  box-shadow: 0 -6px 40px rgba(0,0,0,.4)!important;
}

@mixin shadowSubmenu {
  -webkit-box-shadow: inset 0 4px 4px -2px rgba(0,0,0,.15),inset 0 -4px 4px -2px rgba(0,0,0,.15);
  box-shadow: inset 0 4px 4px -2px rgba(0,0,0,.15),inset 0 -4px 4px -2px rgba(0,0,0,.15);
}

@mixin shadowConentBlock{
  -webkit-box-shadow: 3px 3px 5px hsla(0,0%,0%,0.2);
  box-shadow: 3px 3px 5px hsla(0,0%,0%,0.2);
}

@mixin shadowGroupButton {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}
@mixin shadowGroupButtonDropMenu{
  -webkit-box-shadow: 0 2px 40px rgba(0,0,0,.4);
  box-shadow: 0 2px 40px rgba(0,0,0,.4);
}
@mixin shadowButtonMini {
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}