body {
  background-image: url("../img/Background/bg16.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42;
  //min-height: 1500px;
}

@media screen and(max-width: 920px) {
  body{
    background-size: auto auto;
  }
}