.btn{
  @include flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  padding: 0 15px;
  color: $white;
  text-decoration: none;
  background-color: $btnBG;
  border-style: solid;
  border-width: 1px;
  border-color: $btnBorder;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  white-space: normal;
  box-sizing: border-box;
  transition: all 100ms ease;

  & i{
    padding-right: 5px;
    font-size: 1.2rem;
  }

  &-bar{
    height: 32px !important;
    border-radius: 3px;
  }

  &-green{
    color: $white;
    background-color: $btnGreen;
    border-color: $btnGreen;
    &:hover{
      color: $white;
      background-color: $btnGreenHover;
      border-color: $btnGreenHover;
      & span {
        background-color: $btnGreenSpanHover !important;
      }
    }
    & span{
      background-color: $btnGreenSpan !important;
      border-color: $btnGreenSpan;
    }
  }
  &-blue{
    background-color: $btnBlue !important;
    border-color: $btnBlue;
    color: $white;
    &:hover{
      background-color: $btnBlueHover !important;
      border-color: $btnBlueHover !important;
      & span {
        background-color: $btnBlueSpanHover !important;
      }
    }
    & span{
      background-color: $btnBlueSpan !important;
      border-color: $btnBlueSpan;
    }
  }
  &-red{
    background-color: $btnRed;
    border-color: $btnRed;
    color: $white;
    &:hover {
      background-color: $btnRedHover;
      border-color: $btnRedHover;
      color: $white;
    }
  }

  &-group {
    padding: 0 0 0 15px;
    //border: none;
    & > span {
      @include flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 100%;
      padding-left: 3px;
      border-radius: 0 3px 3px 0;
      margin-left: 20px;
    }
    &-active > span{
      @include shadowGroupButton;
    }
    &-drop-menu {
      @include flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: flex-start;
      list-style: none;
      position: absolute;
      margin-top: 2px;
      z-index: 4;
      background-color: $btnDropMenuBG;
      padding: 3px;
      border-radius: 3px;
      @include shadowGroupButtonDropMenu;
      min-width: 140px;
      min-height: 60px;

      & li{
        @include flex;
        width: calc(100% - 0px);

        & a{
          @include flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          padding: 5px 12px;
          font-size: 13px;
          font-weight: 300;
          white-space: nowrap;
          line-height: 1.42857143;
          color: $btnGroupColor;
          text-decoration: none;
          transition: all 200ms ease;

          border-radius: 3px;
          & > i{
            padding-right: 5px;
            font-size: 16px!important;
          }
          &:hover{
            @include shadowGroupButton;
          }
        }
      }
      & li:nth-child(odd) {
        margin-bottom: 5px;
      }
      & li:last-child {
        margin-bottom: 0;
      }
    }
  }


  &-mini-group{
    @include flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    & > a{
      @include flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border-width: 1px;
      border-style: solid;
      border-color: $btnMini;
      background-color: $btnMini;
      height: 24px;
      width: 28px;
      color: $white;
      &:hover{
        @include shadowButtonMini;
      }
    }

    & > a:first-child {
      border-radius: 3px 0 0 3px;
    }
    & a:last-child {
      border-radius: 0 3px 3px 0;
    }
  }
  &-mini {
    &-green {
      background-color: $btnMiniGreen !important;
      border-color: $btnMiniGreen !important;

      &:hover {
        background-color: $btnMiniGreenHover !important;
        border-color: $btnMiniGreenHover !important;
      }
    }
    &-blue{
      background-color: $btnMiniBlue !important;
      border-color: $btnMiniBlue !important;
      &:hover{
        background-color: $btnMiniBlueHover;
        border-color: $btnMiniBlueHover;
      }
    }
    &-red{
      background-color: $btnMiniRed !important;
      border-color: $btnMiniRed !important;
      &:hover{
        background-color: $btnMiniRedHover !important;
        border-color: $btnMiniRedHover !important;
      }
    }
    &-yellow{
      background-color: #c11bf3!important;
      border-color: #c11bf3!important;
      &:hover{
        background-color: #c964f7!important;
        border-color: #c964f7!important;
      }
    }
  }
}


.group-green .btn-group-drop-menu a:hover {
  background-color: $btnGreen !important;
  color: $white !important;
}

.group-blue .btn-group-drop-menu a:hover {
  background-color: $btnBlue !important;
  color: $white !important;
}

.group-but-sub{
  display: block;
  position: relative;
}





.published-button, .published-button i, .view-comments, .view-comments i {
  text-decoration: none;
  color: $btnPublicColor;
  border: 0;
  font-size: 1rem;
}

.public-structure-finds, .public-structure-finds i, .public-structure, .public-structure i {
  text-decoration: none;
  color: $btnPublicColor;
  border: 0;
  font-size: 0.8rem !important;
}
.public-off{
  opacity: 0.4;
}


.btn-show-option{
  display: none;
}



.container-bar-buttons{
  @include flex;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.editing-bar{
  margin-top: 20px;

  & .btn{
    margin-right: 20px;
  }
}


@media screen and(max-width: 920px) {
  .published-button, .btn-show-option{
    @include flex;
    background-color: $btnBlue;
    color: $white;
    width: 35px;
    height: 35px;
    border-radius: 120px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    & i{
      color: $white;
    }
    &:hover{
      background-color: $btnBlueHover;
    }
  }

  .btn-group-drop-menu li a{
    font-size: 1.1rem;
  }

  .btn-mini-group{
    display: none;
    position: absolute;
    z-index: 2;
    right: 14vw;
    margin-top: -37px;
    background-color: #333 !important;
    border-radius: 120px !important;
    padding: 1px 0;
    opacity: 1;
    & a{
      height: 35px;
      width: 35px;
      border-radius: 120px !important;
      margin: 0 10px;
      &:first-child{
        margin-left: 1px;
      }
      &:last-child{
        margin-right: 1px;
      }
    }
  }

  .btn-show-option{
    background-color: $btnGreen;
    &:hover{
      background-color: $btnGreenHover;
    }
  }

  .btn-mini-group-active{
    @include flex;
  }
}