.loadSend {
  height: 22px
}

.delete-favicon {
  float: left;
  @include flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  margin-right: -10px;
  margin-top: -5px;
  position: relative;
  text-decoration: none;
  border: 0;
  color: #ff4d4d;
  font-size: 32px;
  background-color: #FFF;
  border-radius: 55px;
  width: 32px;
  height: 32px
}

.delete-favicon > i {
  text-decoration: none;
  border: 0
}

.delete-favicon:hover {
  color: #29bae4
}


.alert-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  margin-top: 50px;
  width: 48%;
  position: absolute;
  right: 28px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 4px solid;
  border-color: #8cc474;
  background: #a0d468;
  padding: 0 20px;
  color: #FFF;
  font-size: 13px
}

.alert-block i {
  font-size: 18px;
  color: hsla(0, 0%, 0%, 0.2);
  cursor: pointer
}

.label-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 18px;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 30%
}
