.input-form, .form-control{
  @include flex;
  width: 98%;
  height: 20px;
  padding: .5rem .75rem;
  color: $inputColor;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  font-size: 1rem;
  line-height: 1.25;
  box-shadow: none;

  &:focus{
    outline: 1px solid hsla(0, 0%, 100%, 0);
    border: 1px solid $subemnuColor;
  }
}

.container-content form label {
  font-weight: 400;
  padding: 5px;
  font-size: 13px;
}
