.flexcat-tabs{
  @include flex;
  flex-flow: row nowrap;
  height: 45px;
  width: auto;
  list-style: none;
  align-items: center;
  background-color: hsla(0,0%,100%,.5);
  border-radius: 3px;
  padding: 0 0 0 10px;

  & li {
    margin: 0 10px;
    height: 100%;

    & a {
      @include flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 15px;
      text-decoration: none;
      color: $centralPagesBlockColor;
      transition: all 200ms ease;
      &:hover {
        border-bottom: 2px solid $sidebarBorder;
        color: $sidebarBorder !important;
        @include shadowGroupButton;
      }
    }
  }

  & li:first-child {
    margin-left: 0;
    & a{
      //border-radius: 3px 0 0 3px;
    }
  }
}

.active-tabs a{
  border-bottom: 2px solid $sidebarActiveColor;
  background-color: $tabsActiveBG;
  color: $sidebarActiveColor !important;
  @include shadowGroupButton;
}


.tab-panel{
  display: none;
  min-height: 380px;
  padding: 20px 20px;
}
.active-tab {
  display: block !important;
}