* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://flexcat.ru/cmsUpdate/bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42;
}

.container-main-menu {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.5);
    /*background-imageUpload: linear-gradient(to right, hsla(0, 0%, 10%, 0.5), hsla(0, 0%, 33%, 0.5));*/
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backddrop-filter: blur(5px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    position: fixed;
    z-index: 9999999;
}

#top-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 2%;

}

#top-menu a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 1.7rem;
}

#top-menu a > img {
    padding-right: 5px;
}

.page-title-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 40px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    background-color: hsla(0, 0%, 100%, 0.7);
    /*color: #656565;*/
    color: #555353;
    font-family: "Helvetica Neue";
    font-size: 17px;
    font-weight: 200;
    letter-spacing: normal;
    padding-left: 20px;
}

.topTitle {
    margin-top: 45px;
    width: calc(100% - 20px);
    justify-content: center;
    position: relative;
}

.topTitle a {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: default;
    color: #333;
}

.topMains {
    position: fixed !important;
    top: 0 !important;
}

.topTitle a > i{
    font-size: 32px;
    padding-right: 5px;
    color: #3F3F3F;
}

.center-info {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.blockInfo {
    display: flex;
    width: 720px;
    padding: 40px;
    height: 250px;
    background-color: hsla(0, 0%, 100%, 0.5);
    flex-flow: row wrap;
    color: #333;
}

.blockInfo h2 {
    font-size: 1.7rem;
    font-weight: 200;
    width: 100%;
}

.blockInfo p {
    font-size: 1rem;
    width: 100%;
    margin-top: 20px;
}

.btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 38px;
    padding: 0 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60px;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #FFF;
    background-color: #656565;
    border-style: solid;
    border-width: 1px;
    border-color: #CCC;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 20px;
    border-radius: 3px;
}

/*.btn:hover {
    background-color: #8c8c8c;
    border-color: #3333;
}*/

.btn-blue {
    background-color: #57b5e3 !important;
    border-color: #57b5e3;
    color: #FFF;
    -webkit-transition: all 100ms;
    -o-transition: all 100ms;
    transition: all 100ms;
}

.btn-blue:hover {
    background-color: #6abce2 !important;
    border-color: #6abce2 !important;
}

.loadButton i{
    font-size: 20px;
    padding-left: 5px;
}
.loadButton{
    max-width: 140px;
    margin-top: 30px;
    padding: 0 10px;
}

#progressBarMain{
    width: 100%;
    margin-top: 20px;
}

#progressbar {
    margin-top: 20px;
}

.progress-label {
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.ui-dialog-titlebar-close {
    display: none;
}

.hide{
    display: none !important;
}