#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #448ef6;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #29bae4), color-stop(100%, #ee76ad));
  background: -webkit-linear-gradient(45deg, #29bae4 0%, #ee76ad 100%);
  background: -o-linear-gradient(45deg, #29bae4 0%, #ee76ad 100%);
  background: -webkit-linear-gradient(45deg, #29bae4 0%, #ee76ad 95%);
  background: -o-linear-gradient(45deg, #29bae4 0%, #ee76ad 95%);
  background: linear-gradient(45deg, #29bae4 0%, #ee76ad 95%);
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  z-index: 99999999999999999;
}

.contpre small {
  font-size: 25px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  color: #fff;
  font-size: 40px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 100;
  line-height: 35px;
}

#page-preloader .spinner {
  position: absolute;
  width: 41px;
  height: 41px;
  background-size: 41px;
  margin: -16px 0 0 -16px;
}

.title-load-page {
  font-size: 4rem;
  display: block;
  position: absolute;
  top: 10%;
  left: 38%;
  color: #FFF;
}

.loadSite {
  border-radius: 120px !important;
}