@import "base/reset";

body {

  background-image: url("../../../../111/flexcat/admin/Assets/img/Background/bg12.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: Helvetica Neue;
}

.hide {
  display: none !important;
}

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFF;
  font-weight: 100;
  height: 50px;
  margin-bottom: 20px;
}

.footer-logo {
  height: 30px;
  padding-right: 5px;
}

footer span {
  padding: 0 5px;
  color: #CCC;
}

.container-authorization {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  height: 400px;
  position: absolute;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  left: calc(50% - 225px);
  top: 4%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  z-index: 555;
}

.block-form-authorization {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: hsla(0, 0%, 100%, 0.15);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 30px;
  margin-top: 30px;
}

.bloc-logo-form-authorization {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.bloc-logo-form-authorization img {
  height: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.bloc-logo-form-authorization span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.7rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;

  color: #FFF;
  /* color: #487fee;*/
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0, 0, 0, .1),
  0 0 5px rgba(0, 0, 0, .1),
  0 1px 3px rgba(0, 0, 0, .3),
  0 3px 5px rgba(0, 0, 0, .2),
  0 5px 10px rgba(0, 0, 0, .25),
  0 10px 10px rgba(0, 0, 0, .2),
  0 20px 20px rgba(0, 0, 0, .15);

}

.bloc-logo-form-authorization b {
  font-weight: normal;
  /*color: #b632fa;*/
}

.bloc-logo-form-authorization span > em {
  font-style: normal;
  color: #FFF;
}

.autorizet-input {
  width: 300px;
  height: 22px;
  border: 1px solid #C5C3C5;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 4px 35px;
  font-size: 13px;
}

.icofont-user-alt-4, .icofont-key {
  margin-right: -30px !important;
  position: relative !important;
  z-index: 1 !important;
  float: left !important;
  margin-top: 7px;
  margin-left: 10px;
  color: #656565;
}

.icofont-user-alt-4 + input, .icofont-key + input {
  padding-left: 30px;
}

#sendUs {
  border: none;
  border-radius: 3px;
  height: 28px;
  width: 120px;
  padding: 4px 25px;
  color: #FFF;
  cursor: pointer;
  background-color: #487fee;
  background-image: -webkit-gradient(linear, left top, right top, from(#487fee), to(#b632fa));
  background-image: -webkit-linear-gradient(left, #487fee, #b632fa);
  background-image: -o-linear-gradient(left, #487fee, #b632fa);
  background-image: linear-gradient(to right, #487fee, #b632fa);
  font-size: 0.8rem;
  -webkit-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
}

#sendUs:hover {
  background-color: #b632fa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#487fee), to(#b632fa));
  background-image: -webkit-linear-gradient(top, #487fee, #b632fa);
  background-image: -o-linear-gradient(top, #487fee, #b632fa);
  background-image: linear-gradient(to bottom, #487fee, #b632fa);
}

.footer-authorization {
  display: block;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0px;
  z-index: 2;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  /* border: 1px solid #FFF;*/
}

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  font-size: 13px;
  text-shadow: 1px 1px 0 rgba(100, 100, 100, .4);
  letter-spacing: 1px;
  font-weight: 400;
}

.copyright a {
  color: #FFF;
  -webkit-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}

.copyright a:hover {
  color: #b632fa;
}

.loadingImage {
  display: none;
}

.errors {
  border: 1px solid #ff4d4d;
  background-color: hsla(0, 100%, 65%, 0.6);
}

.message-error {
  display: none;
  font-size: 1rem;
  font-family: "Helvetica Neue";
  color: #FFF;
  font-weight: 300;
  letter-spacing: 1px;
}