/*scrolled*/
.main-menu-container.scrolled {
  top: 0;
  left: 0;
  position: fixed;
  margin-top: -130px;
  background: none;
  background-color: $mainMenuScrolledBG;
  @include shadowScrolledMenu;
}

.user-describe.scrolled{
  margin-top: -330px;
}

.scrolled.awake {
  margin-top: 0px;
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
}
.scrolled.sleep {
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
}



.dark-menu-main{
  color: $mainMenuDarkColor !important;
  fill: $mainMenuDarkColor !important;
  & span{
    color: $mainMenuDarkColor !important;
  }
  & path{
    fill: $mainMenuDarkColor !important;
  }
  & i{
    color: $mainMenuDarkColor !important;
  }
}
.main-menu-control-button.dark-menu-main:hover{
  border-color: $mainMenuDarkBorder!important;
}
.main-menu-hover.dark-menu-main:hover{
  //background-color: $mainMenuButtonBG;
  background-color: $mainMenuDarkButtonBG !important;
}

.user-describe.scrolled.awake{
  margin-top: 0;
}