$white: #FFFFFF;

/*mainMenu*/
$mainMenuContainerBG: hsla(0, 0%, 0%, 0.4);
$mainMenuContainerTabletBG: hsla(0, 0%, 20%, 0.8);
$mainMenuButtonBG: hsla(0, 0%, 100%, 0.1);
$mainMenuScrolledBG: hsla(0,0%,100%,0.8);
$mainMenuDarkColor: hsla(0, 1%, 33%, 0.8);
$mainMenuDarkButtonBG: hsla(0, 0%, 100%, 0.5);
$mainMenuDarkBorder: #ffce55;

/*profile*/
$myProfileBorder:  #CCC;
$myProfileColor: #555353;
$myProfileColorHover:  #ffce55;


/*sidebar*/
$sidebarBG: hsla(0,0%,100%,0.6);
$sidebarTabletBG: hsla(0,0%,100%,0.9);
$sidebarText: #333;
$sidebarActiveBG: hsla(0,0%,100%,1);
$sidebarHoverBG: hsla(0,0%,100%,1);
$submenuBG:  hsla(0,0%,100%,1);
$submenuBorder: hsla(0,0%,100%,0.6);
$submenuHoverBG: hsla(0,0%,100%,0);
$subemnuColor: #29bae4;
$sidebarBorder: #ff4d4d;
$sidebarActiveColor: #29bae4;

/*central block*/
$centralPagesBlockBG: hsla(0,0%,100%,0.5);
$centralPagesBlockColor: #555353;
$centralBlockContentBG: hsla(0,0%,100%,.4);

/*control button window*/
$buttonControlWindowUpdate: #ffce55;

/*buttons*/
$btnBG: #656565;
$btnBorder: #CCC;

$btnGreen: #4aa93f;
$btnGreenHover: #66be51;
$btnGreenSpan: #a0d468;
$btnGreenSpanHover: #a6d791;

$btnBlue: #57b5e3;
$btnBlueHover: #6abce2;

$btnBlueSpan: #2dc3e8;
$btnBlueSpanHover: #3ecdf1;

$btnRed: #ff4d4d;
$btnRedHover: #ff7a4d;

$btnGroupColor: #333;
$btnDropMenuBG: hsla(0,0%,100%,0.9);

$btnMini: #CCCCCC;

$btnMiniGreen: #a0d468;
$btnMiniGreenHover: #9cd584;

$btnMiniBlue: #5bc0de;
$btnMiniBlueHover: #57b5e3;

$btnMiniRed: #ed4e2a;
$btnMiniRedHover: #ef694b;

$btnPublicColor: #656565;


/*tablet*/
$tableBG: hsla(0,0%,100%,.9);
$tableText: #656565;
$tableODD: hsla(0, 0%, 0%, .05);
$tableHover: hsla(193, 78%, 53%, 0.1);
$tableGrayColumn: hsla(0, 0%, 70%, 0.15);
$tableTitle: #0092d6;
$tablePath: #57b5e3;

/*tabs*/
$tabsActiveBG: hsla(0,0%,100%, 0.1);

/*inputs*/
$inputColor: #464a4c;