
body
{
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

    max-width: 94rem;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 20px;

    color: #000;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}
a,
.titleNav
{
    color: #1ba5de;
    border: none;
}
.topMain
{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display:         inline-flex;

    width: 100%;
    height: 41px;

    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.topMain a
{
    margin-left: 5%;
}
.topMain a:hover
{
    text-decoration: none;
}

header
{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display:         inline-flex;

    width: 100%;
    height: 100px;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.logoSite
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    max-width: 280px;
    height: 100%;
}
.logoLink
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    text-decoration: none;

    border: none;
}
.newAnounce
{
    font-size: 1rem;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 210px;
    height: 40px;
    padding-left: 10px;

    cursor: pointer;
    -webkit-transition: -webkit-box-shadow 1s;
         -o-transition:         box-shadow 1s;
            transition: -webkit-box-shadow 1s;
            transition:         box-shadow 1s;
            transition:         box-shadow 1s, -webkit-box-shadow 1s;

    color: #fff;
    border: 2px solid #377204;
    border-radius: 6px;
    background-color: #70ab37;
    background-image: url('img/plus.png');
    background-repeat: no-repeat;
    background-position: 4% 50%;
    background-size: 15px auto;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
            align-self: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
            align-items: flex-end;
}
.rightList
{
    float: right;

    margin-left: 3rem;
}
.searchPanel
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    height: 64px;
    margin-top: 10px;
    margin-bottom: 50px;

    color: #fa8426;
    border: 3px solid #ed6e1f;
    border-radius: 8px;
    background: -webkit-linear-gradient(bottom,  #fb791b 0%, #fa8426 50%, #fd9629 100%);
    background:      -o-linear-gradient(bottom,  #fb791b 0%, #fa8426 50%, #fd9629 100%);
    background: -webkit-gradient(linear,  left bottom, left top,  from(#fb791b), color-stop(50%, #fa8426), to(#fd9629));
    background:         linear-gradient(bottom,  #fb791b 0%, #fa8426 50%, #fd9629 100%);
    background-image: -moz-linear-gradient(center bottom, #fb791b 0%, #fa8426 50%,  #fd9629 100%);

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}
.formsSearch
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 98%;
    min-width: 280px;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}
.formsSearch input
{
    margin-right: 10px;
    margin-left: 10px;
}
.inputSearch
{
    font-size: 17px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 90%;
    height: 28px;
    padding: 5px 10px 5px 10px;

    border: none;
    border-radius: 4px;
}
#citySearch
{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 45%;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
}
.buttonSearch
{
    font-size: 15px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 180px;
    min-width: 130px;
    height: 38px;

    cursor: pointer;
    -webkit-transition: background-color 1s;
         -o-transition: background-color 1s;
            transition: background-color 1s;

    color: #ed6e1f;
    border: none;
    border: 3px solid #cb5d19;
    border-radius: 4px;
    background-color: #ffebaa;
    background-image: url('img/search.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 38px auto;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
}
.buttonSearch:hover
{
    background-color: #ffd44a;
}
.centerFlex
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}


.flexList
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 310px;
    min-height: 90px;
    margin: 20px;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
            align-self: flex-start;
}
.leftFlexList
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    height: 100%;

    -webkit-box-flex: 0;
    -webkit-flex: 0 0 90px;
        -ms-flex: 0 0 90px;
            flex: 0 0 90px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.rightFlexList
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
            align-self: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row  wrap;
        -ms-flex-flow: row  wrap;
            flex-flow: row  wrap;
}
.circleList
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 80px;
    height: 80px;

    border: 3px solid #ed6e1f;
    border-radius: 60%;
    background-color: #fb791b;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.circleList img
{
    width: auto;
    max-width: 70%;
    max-height: 70%;
}
.titleFlexList
{
    font-size: 1.1rem;

    width: 100%;

    cursor: pointer;
}
.infoFlexList
{
    font-size: .8rem;

    height: auto;

    color: #777;
}


.homeBlocks
{
    margin-top: 80px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;


    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}
.homeBlocks h4{
    display: flex;
    flex: 1 1 100%;
    margin-left: 30px;
    color: #333;
    font-size: 1.4rem;
}
.anounceBlocks
{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display:         inline-flex;

    width: 210px;
    max-width: 210px;
    min-height: 200px;
    margin: 10px 5px 10px 5px;
    box-shadow: 5px 0 12px hsla(0, 0%, 80%, .3);
    background-color: #FFF;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 270px;
        -ms-flex: 1 1 270px;
            flex: 1 1 270px;
}
.anounceBlocks img
{
    width: auto;
    max-width: 270px;
    max-height: 140px;
    margin-top: 5px;
}
.anounceBlocks a
{
    margin-top: 5px;
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 190px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
            align-self: flex-start;
}
.anounceBlocks p
{
    font-weight: bold;
    margin-left: 10px;

    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
            align-self: flex-start;
}

/* nav list */
.extremum-slide {
    box-shadow:0px 0px 12px hsla(0, 0%, 87%, 0.7);
    display:none;
    width:70%;
    min-height:250px;
    min-width: 300px;
    max-width: 800px;
    background-color: hsla(0, 0%, 100%, 0.7);
    -webkit-backdrop-filter: blur(19px);
    padding:14px;
    position: absolute;
    left: 8.5%;
    z-index: 99997;
    margin-top: 60px;
}
.mainDop{
    margin-top:25px !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    padding: 0px 20px;
}
.mainDop li{
    list-style:none;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    width:240px !important;
    padding: 0 2px;
    height:25px  !important;

}
.mainDop li img{height:22px !important; margin:0px !important; padding:0px !important; margin-right:4px !important; margin-bottom:-7px !important;}
/*#mainDop li a{font-size:14px !important;}*/
.titlePodMain{
    margin-left:20px;
    border-bottom:1px solid hsla(0, 0%, 20%, 0.4);
    padding-bottom:8px;
    color:#5c5c5c;
}

footer
{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5c5c5c;
    min-height: 350px;
    background-color: #f9f9f9;
    margin-left: -20px;
    width: calc(100% + 40px);
    flex-flow: row wrap;
}
.container-menu-footer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-self: center;
    align-items: stretch;
    margin-top: 0px;
    flex-flow: row wrap;
}

.footer-block-menu{
    width: 230px;
}
.footer-block-menu > a{
    text-decoration: none;
    padding-bottom: 20px !important;
    margin-bottom: 20px !important;
    font-weight: bold;
}
.footer-block-menu  li{
    list-style: none;
    margin-top: 5px;
}
.footer-block-menu > li > a{
    text-decoration: none;
    color: #858585;
}



.container-menu-main-footer{
    display: flex;
    flex: 0 1 80%;
    align-self: center;
    background: -moz-linear-gradient(45deg, #ffd44a 0%, #fb791b 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #ffd44a), color-stop(100%, #fb791b));
    background: -webkit-linear-gradient(45deg, #ffd44a 0%, #fb791b 100%);
    background: -o-linear-gradient(45deg, #ffd44a 0%, #fb791b 100%);
    background: -ms-linear-gradient(45deg, #ffd44a 0%, #fb791b 100%);
    background: linear-gradient(45deg, #ffd44a 0%, #fb791b 95%);
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 15px;
    color: #333;
    justify-content: space-between;
    flex-flow: row wrap;
}
.container-menu-main-footer > a{
    margin: 15px 10px;
    min-width: 120px;
    text-decoration: none;
    color: #333;
}
.container-menu-main-footer > a:hover{
    color: #FFF;
}

.copyright{
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    margin-bottom: 40px;
    color: #fb9e1b;
}



.off-canvas-launcher
{
    font-size: 1.2rem;

    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 210px;
    height: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;

    border: 1px solid #1ba5de;
    background-color: #1ba5de;
    color: #FFF;
    border-radius: 4px;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.nowMain{
    color: #fd9629 !important;
    text-decoration: none !important;
}

.no-js,
.off-canvas-launcher
{
    display: none;
}

.location-image{
    background-image: url("img/location.png");
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: 2px 50%;
    padding-left: 30px;
}



/* ------------------MEDIA CSS ------------------- */
@media (hover)
{
    .titleFlexList:hover{
        transform: scale(1.05);
    }
    .newAnounce:hover
    {
        -webkit-box-shadow: inset 0 -44px 0 #79bf38;
                box-shadow: inset 0 -44px 0 #79bf38;

        transform: scale(1.1);
    }
    a:hover, .footer-block-menu > li > a:hover
    {
        cursor: pointer;
        text-decoration: none;
        transition: color 300ms;
        color: #fd9629;
    }
    .off-canvas-launcher:hover
    {
        cursor: pointer;

        color: #fd9629;
    }
}
#fade{
    display: none;
    -webkit-backdrop-filter: blur(4px);
    position: fixed; left: 0; top: 0;
    z-index: 10;
    width: 100%; height: 100%;
    z-index: 9999;
}

.img-baner{
   height: 25vw;
}

@media screen and (max-width:46em)
{
    body::after
    {
        font-size: 0;

        content: 'Lplus';
    }
    .off-canvas-launcher
    {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
    .topMain
    {
        display: none;
        width: 100%;
        height: auto;
        padding: 20px 0;
        background-color: hsla(0, 0%, 20%, 0.7);
        -webkit-backdrop-filter: blur(19px);
        position: absolute;
        top: 70px;
        left: 0px;
        flex-flow: row wrap;
        justify-content: flex-start;
        box-shadow: 0px 10px 10px  0 rgba(0, 0, 0, 0.5);
    }
    .topMain a{
        background-color: #fb791b;
        border: 3px solid #ed6e1f;
        color: #FFF;
        border-radius: 24px;
        margin: 20px;
        padding: 12px 20px;
        flex: 1 1 230px;
        text-decoration: none;


    }
    .buttonSearch
    {
        width: 87px;
        min-width: 87px;
        padding-left: 28px;

        text-align: right;

        background-position: -6% 50%;
        background-size: 30px auto;

        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
                justify-content: flex-end;
    }
    .newAnounce
    {
        padding-left: 30px;
    }
    #citySearch
    {
        min-width: 100px;
    }
    .mainAccount
    {
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display:         inline-flex;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .mainAccount span
    {
        font-size: .8rem;

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        display: none;

        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;
    }
    .mainAccount a
    {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;

        margin: 10px 0;
        padding: 4px 8px;

        text-decoration: none;

        border: 1px solid #1ba5de;
        background-color: #1ba5de;
        color: #FFF;
        border-radius: 4px;
    }
    .mainDop li {
        margin: 10px 5px;
        height: 40px !important;
        flex: 1 1 220px;
        justify-content: flex-start;
        align-items: center;
    }
    .mainDop li a{
        display: flex;
        border: 1px solid #1ba5de;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        border-radius: 180px;
        padding-left: 5%;
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: #1ba5de;
        color: #FFF;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mainDop li a img{
        display: none;
    }
    .extremum-slide{
        height: auto;
    }
    .centerFlex
    {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
    }
    .flexList
    {
        width: 220px;
        min-height: 90px;
        margin: 8px;
    }
    .anounceBlocks
    {
        width: 250px;
        max-width: 250px;
        min-height: 200px;
        margin: 15px 1%;

        background-color: #f5f5f5;

        -webkit-box-flex: 1;
        -webkit-flex: 1 1 220px;
            -ms-flex: 1 1 220px;
                flex: 1 1 220px;
    }
    .button-close{
        font-size: 0;
    }
    .button-close:before{
        content: "Закрыть меню";
        font-size: 1.2rem;
    }
    .container-menu-main-footer{
        justify-content: flex-start;
        flex-flow: column wrap;
    }
    .container-menu-main-footer > a{
        margin: 20px 0;
    }
}

@media screen and (max-width:32.5em)
{
    body::after
    {
        font-size: 0;

        content: 'Splus';
    }
    .off-canvas-launcher
    {
        font-size: 0;

        width: 58px;
        height: 42px;

        border: none;
        background: none;
        background-image: url('img/menu.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    header
    {
        height: auto;

        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
    }
    .logoSite
    {
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display:         inline-flex;

        width: 100%;

        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;
    }
    .newAnounce
    {
        width: 210px;
        margin-bottom: 2rem;
        margin-left: auto;
    }
    .mainAccount{
        justify-content: center;
        flex-flow: row wrap;
    }
    .mainAccount a{
        flex: 1 1 120px;
        height: 32px;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-color: #1ba5de;
        color: #FFF;
        margin: 10px 10px;
    }
    .searchPanel
    {
        width: 100%;
        height: auto;

        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .formsSearch
    {
        display: flex;
        flex-flow: column wrap;
        flex: 1 1 320px;
    }
    .formsSearch input
    {
        margin: 0;
    }
    .inputSearch
    {
        font-size: 17px;
        margin: 10px;
        width: 90%;
    }
    .location-image{
        padding-left: 10px;
        background-image: none;
    }
    #citySearch
    {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 1%;
            -ms-flex: 0 0 1%;
                flex: 0 0 1%;
    }
    .buttonSearch
    {
        font-size: 1rem;

        width: 210px;
        max-width: 210px;
        height: 41px;
        margin-right: auto !important;
        margin-left: 10px !important;
        margin-top: 20px !important;

        background-position: 7% 50%;
        justify-content: center;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41px;
            -ms-flex: 0 0 41px;
                flex: 0 0 41px;
    }
    .extremum-slide{
        left: 0px;
        width: 100%;
        padding: 0;
    }
    .homeBlocks{
        justify-content: center;
    }
    .searchPanel{
        justify-content: flex-start;
        align-self: flex-start;
        border-radius: 0;
        border: none;
        padding: 0;
        margin-left: -20px;
        width: calc(100% + 40px);
        height: 240px;
    }
    #citySearch{
        margin-top: 20px !important;
    }
    .titlePodMain{
        padding-top: 20px;
    }
    .anounceBlocks {
        width: 100%;
        max-width: 390px;
        min-height: 280px;
        margin: 10px 0;
        background-color: #f5f5f5;
        border-bottom: 1px solid #CCC;
        flex: 1 1 100%;
    }
    .button-close{
        font-size: 0;
        background-image: url("img/icons8-cancel_filled.png");
        background-size: auto 40px;
    }
    .button-close:before{
        content: none;
    }
    .container-menu-footer{
        display: none;
    }
    .container-menu-main-footer{
       flex: 1 1 100%;
        border-radius: 0;
    }
}
.topMain-flexbox{
    display: flex !important;
   margin-left: 110%;
}


