.container{
  //@include border;
  @include flex;
  width: 100%;
  &-left{
    width: auto;
  }
  &-central{
    //@include border;
    @include flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
  &-pages-title{
    @include flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    flex-flow: row nowrap;
    background-color: $centralPagesBlockBG;
    color: $centralPagesBlockColor;
    padding-left: 20px;
    &:hover{
      //background-color: $white;
    }
    & a{
      text-decoration: none!important;
      border: none!important;
      color: $centralPagesBlockColor;
      font-size: 1rem;
      font-weight: 200;
      transition: all 300ms ease;
      & i{
        color: $centralPagesBlockColor;
        padding-right: 5px;
        font-size: 1.2rem;
        text-decoration: none!important;
        border: none!important;
        background: none!important;
      }
      &:hover, &:hover i{
        color: $subemnuColor;
      }
    }
  }
  &-control-window{
    @include flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 0;
    height: 100%;
    & a{
      //@include border;
      @include flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 100%;
      margin: 0 5px;
      padding: 0;
      position: relative;
      &:after{
        content: '';
        display: block;
        position: absolute;
        z-index: 10;
        top: 40px;
        width: 36px;
        height: 3px;
        background-color: $white;
      }
      &:hover{
        @include shadowMainMenu;
      }
      & i{
        padding: 0;
        margin: 0;
      }
    }
  }
  &-content{
    @include flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    min-height: 400px;
    margin: 70px 30px 30px 30px;
    background-color: $centralBlockContentBG;
    @include radiusContentBlock;
    @include shadowConentBlock;
    padding: 14px;

    & form{
      //@include border;
      width: 100%;
      height: 100%;
      min-height: 440px;
    }
  }
  &-bar-buttons{
    @include flex;
    //@include border;
    width: 100%;
    margin: 0;
  }
}

.m-r-1{
  margin-right: 10px;
}

#resizeWindow{
  &:after {
    background-color: $sidebarBorder;
  }
  &:hover i{
    color: $sidebarBorder !important;
  }
}
#updateWindow{
  &:after{
    background-color: $buttonControlWindowUpdate;
  }
  &:hover i{
    color: $buttonControlWindowUpdate !important;
  }
}
#menuHide{
  &:after{
    background-color: $subemnuColor;
  }
  &:hover i{
    color: $subemnuColor !important;
  }
}
.activeControlButton{
  @include shadowMainMenu;
}

@media screen and(max-width: 920px) {
  .container-control-window{
    display: none !important;
  }
  .container-left{
    display: none;
    position: absolute;
    z-index: 9999999;
    &-active{
      @include flex;
    }
  }
  .container-content{
    margin: 15px 10px;
  }
}
@media screen and(max-width: 750px) {
  .container-content{
    margin: 15px 0;
    border-radius: 0;
    padding: 10px 0 0 0;
    overflow: auto;
  }
  .container-bar-buttons{
    padding: 0 15px;
  }
}