.sectionButton, .sectionButton i {
  text-decoration: none !important;
  border: none !important;
  color: #656565;
  font-size: 16px;
  cursor: pointer !important
}
.babgers-icons {
  border-radius: 10px !important;
  font-size: 9px !important;
  opacity: .6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-top: -25px;
  margin-left: -7px;
  width: 15px;
  height: 15px;
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  color: #FFF
}

.badge-red {
  background-color: #ed4e2a
}

.badge-azure {
  background-color: #2dc3e8
}

