.main-menu {
  &-container {
    @include grid;
    width: calc(100% - 60px);
    height: $sizeTopMenu;
    background-color: $mainMenuContainerBG;
    grid-template-columns: 250px 1fr;
    grid-auto-rows: 100%;
    justify-content: space-between;
    align-content: center;
    padding: 0 30px;

  }

  &-hover {
    height: $sizeTopMenu;
    padding: 0 8px;
    transition: 200ms ease;

    &:hover {
      @include shadowMainMenu;
      background-color: $mainMenuButtonBG;
    }
  }

  &-block-logo {
    @include flex;
    //@include border;
    align-items: center;
  }

  &-logo {
    //@include border;
    @include flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    text-decoration: none;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;

    & span {
      padding-left: 4px;
      color: $white;
      font-size: 1.7rem;
    }

    &-img {
      height: 35px;
    }
  }

  &-show-button,  &-show-menu-tablet-button {
    @include flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: $sizeTopMenu;
    color: $white;
    width: 20px;
    border: none;
    text-decoration: none;
    margin-left: 20px;
    padding: 0 8px;
    transition: all 200ms ease;
    //@include border;
  }

  &-show-big {
    font-size: 1.3rem;
  }

  &-show-mini {
    font-size: 0.9rem;
    @include shadowMainMenu;
  }

  &-show-mini {
    font-size: 1rem;
  }


  &-block-panel {
    @include flex;
    //@include border;
    justify-content: flex-end;
    align-items: center;
    height: $sizeTopMenu;
    flex-flow: row nowrap;

    & div {
      margin-left: 5px;
    }

    &-label {
      display: none;
    }
  }

  &-panel-show-button {
    display: none;
    //@include border;
    //@include flex;
    justify-content: flex-end;
    align-items: center;
    height: $sizeTopMenu;
    padding-right: 10px;

    & .main-menu-logo-img {
      fill: $white;
      height: 28px;
      cursor: pointer;
    }
  }


  &-show-site {
    @include flex;
    justify-content: center;
    align-items: center;
    height: $sizeTopMenu;
    color: $white;
    font-size: 1.4rem;
    border: none;
    text-decoration: none;
    //@include flex;
    //align-content: center;
  }

  &-control-button {
    height: $sizeTopMenu;
    padding: 0 8px;
    border-top: 2px solid hsla(0, 0%, 100%, 0);
    box-sizing: border-box;
    transition: 200ms ease;

    &:hover {
      border-color: $white;
    }
  }

  &-show-menu-tablet-button {
    display: none;
  }
  &-active-button{
    @include shadowMainMenu;
  }
}


.dateTimes {
  @include flex;
  //@include border;
  font-size: 1.5rem;
  font-weight: 200;
  color: $white;

  &-day {
    color: $white;
  }

  &-separator {
    -webkit-animation-name: timers;
    animation-name: timers;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: revert;
    animation-timing-function: revert;
  }
}

@keyframes timers {
  0% {
    color: hsla(0, 0%, 100%, 1);
  }
  100% {
    color: hsla(0, 0%, 100%, 0);
  }
}


/*media*/
@media screen and(max-width: 920px) {
  .main-menu {
    &-container {
      width: calc(100% - 10px);
      padding: 0 5px;
    }
    &-show-button {
      display: none;
    }
    &-show-menu-tablet-button{
      @include flex;
      font-size: 1.3rem;
    }
  }
}

@media screen and(max-width: 750px) {
  .main-menu {
    &-block-panel {
      display: none;
    }

    &-panel-show-button {
      @include flex;
      width: 30px;
      align-self: flex-end;
      justify-content: center;
      margin-left: auto;
    }
  }
  .panel-sm-size {
    //@include border;
    @include flex;
    position: absolute;
    top: $sizeTopMenu;
    right: 0;
    z-index: 99999999;
    flex-flow: row wrap;
    height: auto;
    width: 100% !important;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    background-color: $mainMenuContainerTabletBG;
    //padding-top: 20px;
    & div {
      @include flex;
      width: 100%;
      margin-left: 0;
      justify-content: flex-start;
      border-bottom: 2px solid $mainMenuDarkColor;
      align-content: flex-start;
    }
  }
  .panel-sm-size .user-name {
    display: flex;
  }
  .panel-sm-size .main-menu-block-panel-label {
    display: block;
    margin-left: 10px;
    font-size: 1rem;
  }
  .main-menu-container.scrolled .panel-sm-size {
    background-color: $mainMenuScrolledBG;
  }
  .panel-sm-size .dateTimes {
    padding: 10px 20px;
  }
}

