$sizeBorder: 5px;
.sidebar {
  //@include border;
  @include flex;
  width: 100%;
  height: auto;
  list-style: none;
  flex-flow: row wrap;
  background-color: $sidebarBG;
  justify-content: flex-start;
  padding: 0;


  &-container {
    //@include border;
    @include flex;
    width: 230px;
    height: auto;
    margin-left: $sizeBorder;
  }

  &-item {
    width: 100%;
    //@include border;
    & a {
      @include flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 0.9rem;
      text-decoration: none;
      font-weight: 300;
      letter-spacing: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $sidebarText;
      padding: 10px 5px 10px 15px;
      //@include border;
      &:hover {
        background-color: $sidebarHoverBG;
      }
      &:after {
        content: "";
        display: none;
        position: absolute;
        left: 0;
        width: $sizeBorder;
        height: 40px;
        background-color: $sidebarBorder;
      }
      &:hover::after {
        display: block;
      }
    }

    & i {
      font-size: 16px;
      padding-right: 5px;
    }
  }

  &-active-item {
    background-color: $sidebarActiveBG !important;
    &:after {
      display: block !important;
      content: "";
      position: absolute;
      left: 0;
      width: $sizeBorder;
      height: 40px;
      background-color: $sidebarActiveColor !important;
    }
  }


  &-minimize{
    @include flex;
    width: 40px;
    flex-flow: row wrap;
    background-color: $sidebarBG;
    padding: 0;

    & .sidebar-item{
      @include flex;
      height: 40px !important;
      width: 100%;
      z-index: 5555;


      & > a{
        width: 100%;
        height: 100%;
        padding: 0;
        justify-content: center;
        & > i{
          padding: 0;
          margin: 0;
        }
      }
      &:hover > a > span{
        @include flex;
        background-color: $sidebarHoverBG;
        width: 200px;
        height: 40px;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
      }
      & .arrow-sub{
        display: none;
      }
      &:hover  .submenu.hide{
        display:  flex !important;
        margin-top: 40px;
        position: absolute;
        left: 45px;
        width: 210px;
        border: none;
        z-index: 5555;
      }
    }
    & > li > a > span {
      display: none;
      position: absolute;
      left: 45px;
    }
    & .submenu > li > a{
      padding-left: 10px !important;
    }
  }
}


.submenu {
  //@include border;
  @include flex;
  flex-flow: row wrap;
  border-top: 1px solid $submenuBorder;
  border-bottom: 1px solid $submenuBorder;
  background-color: $submenuBG;
  @include shadowSubmenu;
  list-style: none;
  justify-content: flex-start;
  padding: 0;

  & li {
    //@include border;
    margin-left: 10px;
    width: 100%;

    & a {
      padding-left: 30px;
      -o-text-overflow: unset;
      text-overflow: unset;
      white-space: pre-wrap;
      &:hover{
        background-color: $submenuHoverBG;
        color: $subemnuColor;
      }
      & i{
        @include flex;
        align-self: flex-start;
      }
      &:after {
        content: "";
        display: none;
        position: absolute;
        left: 0;
        width: $sizeBorder;
        height: 40px;
        background-color: $sidebarBorder;
      }
      &:hover::after {
        display: block
      }
    }
  }

}

.arrow {
  &-sub {
    margin-left: auto;
  }

  &-rotate {
      -webkit-animation-name: arrowRotate;
      animation-name: arrowRotate;
      -webkit-animation-duration: 300ms;
      animation-duration: 300ms;
      -webkit-animation-iteration-count: unset;
      animation-iteration-count: unset;
      -webkit-animation-timing-function: revert;
      animation-timing-function: revert;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards
  }
}


.miniBlockLeft{
  width: 45px;
}

@-webkit-keyframes arrowRotate {
  to {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
  }
}

@keyframes arrowRotate {
  to {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
  }
}

@media screen and(max-width: 920px) {
  .sidebar {
    background-color: $sidebarTabletBG;
  }
}