.block-item-create {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap
}

.block-create-for-admin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap
}

.block-status-create-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap
}

#structure_types {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  width: 100%
}

.structure-radio{
  & span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    height: 35px;
    padding-right: 15px;
    border-radius: 0;
    background-color: #CCC;
    cursor: pointer;
    font-size: 13px;
    color: #FFF;
    line-height: 1.42857143;
    letter-spacing: normal;
    -webkit-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease
  }
  & i {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 36px;
    margin-right: 15px;
    font-size: 20px;
    background: rgba(0, 0, 0, .06)
  }
  & input {
    display: none
  }
}



.button-type-page{
  & span {
    background-color: #a0d468 !important;
    border: 3px solid #a0d468;
    &:hover {
      background-color: #a6d791 !important
    }
  }
}

.activeButton {
  border-radius: 3px !important;
  border: 3px solid hsla(0, 0%, 20%, 0.4) !important
}



.button-type-dynamic-page {
  & span {
    background-color: #f4b400 !important;
    border: 3px solid #f4b400;
    &:hover {
      background-color: #ec971f !important;
      border: 3px solid #d58512
    }
  }
}

.button-type-link {
  & span {
    background-color: #11a9cc !important;
    border: 3px solid #11a9cc;
    &:hover {
      background-color: #28b3d3 !important;
      border: 3px solid #28b3d3;
    }
  }
}
