.table-list {
  //@include border;
  display: table;
  width: 100%;
  margin-top: 20px;
  background-color: $tableBG;
  text-align: left;
  color: $tableText;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid $white;
  border-collapse: separate;
  //border-spacing: unset;

  & thead th{
    //font-weight: 900;
  }

  & th, td{
    padding: 8px 10px;
    vertical-align: top;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: left;
  }

  & tbody tr:nth-child(odd) {
    background-color: $tableODD;
  }

  & tbody tr:hover {
    background-color: $tableHover;
  }
}

.br-grey-column {
  background-color: $tableGrayColumn !important;
}

.structure-title{
  color: $tableTitle;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.block-path-structure {
  background-color: $tablePath;
  padding: 2px 7px;
  border: 1px solid $tablePath;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 0 0;
  color: #FFF;
  text-decoration: none;
  font-size: 12px;
  transition: all 200ms ease;
  &:hover{
    background-color: $btnBlueHover !important;
    opacity: 0.8;
  }
}

.admin-avatar {
  height: 30px;
  max-width: 30px;
  border-radius: 44px;
  margin-right: 5px
}


.img-sites-logo {
  position: absolute;
  max-width: 450px;
  width: auto;
  display: none
}

.default-ico {
  font-size: 20px !important;
  color: #CCC;
}

.default_template_star{
  color: #444!important;
}
.img-site-theme{
  width: 400px;
}
.loadPost {
  margin-left: calc(50% - 110px);
  margin-top: 20px
}
.title-item {
  color: #29bae4;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.count-info {
  margin-left: 5px;
  background-color: #eee !important;
  padding: 3px;
  font-size: 12px;
  font-weight: 200;
  border-radius: 3px;
  & i {
    padding: 0 5px
  }
}
.title-info-system {
  //@include flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  display: none;
}


@media screen and(max-width: 920px) {
  .table-list {
    & th, td {
      padding: 4px 5px;
      font-size: 0.7rem;
    }
  }
}



