.title-version {
  color: #555353;
  margin-top: 0;
  margin-left: auto
}

.loadUpdate {
  display: none
}

.loadUpdate h4 {
  font-weight: 300;
  font-size: 1.2rem
}

.loadUpdate img {
  border-radius: 16px
}

.blockUpdate {
  display: flex;
  width: 100%;
  min-height: 50px;
  margin-top: 20px;
  flex-flow: row wrap
}


.title-update-acces {
  font-size: 1.2rem;
  display: none
}

.main-block-updates {
  display: flex;
  width: 100%
}

.blockInfoUpdate {
  display: flex;
  height: 100%;
  flex: 1 1 50%;
  padding-left: 20px;
  flex-flow: row wrap
}

.block-button-update {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;

  & a {
    display: block;
    padding: 5px 20px;
    background-color: #ccc;
    border-radius: 120px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: #11a9cc;
    text-transform: uppercase;
    transition: all 250ms;

    &:hover {
      background-color: #FFFF
    }
  }
}



.blockInfoUpdate {
  & h4 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 300
  }
  & p {
    font-size: 1.1rem;
    color: #11a9cc;
    font-weight: 200;
    text-shadow: 0 1px 3px #FFF
  }
}


.list-update {
  margin-top: 20px;
  margin-left: 20px
}

.list-update li {
  font-weight: 300;
  font-size: 16px
}

.notfin-update {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto
}

.notfin-update h4 {
  font-size: 2rem;
  font-weight: 200
}

