.user{
  &-block{
    @include flex;
    flex-flow: row nowrap;
    height: $sizeTopMenu;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    width: 220px;
    position: relative;
  }
  &-avatar{
    height: 70%;
    border-radius: 90px;
  }
  &-name{
    margin-left: 10px;
    color: $white;
    font-weight: 100;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 210px;
    //@include border;
  }
  &-describe{
    @include flex;
    width: 220px;
    height: 370px;
    position: absolute;
    top: $sizeTopMenu - 1px;
    margin-left: 0 !important;
    right: 0 !important;
    background-color: hsla(0,0%,100%,0.6);
    cursor: default;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
    padding: 10px 0;
  }
  &-active {
    border-top: 2px solid hsla(0,0%,100%,1) !important;
    @include shadowUserProfile;
  }
  &-profile-link{
    @include flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    margin: 20px 10px 0 10px;
    //height: 25px;
    border-top: 1px solid $myProfileBorder;
    border-bottom: 1px solid $myProfileBorder;
    padding: 5px 0;
    color: $myProfileColor;
    text-decoration: none;
    font-size: 1rem;
    transition: all 300ms ease;
    &:hover{
      color: $myProfileColorHover;
    }
  }
  &-logout-href{
    @include flex;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20px;
    font-size: 1rem;
    padding: 8px 15px;
    font-weight: 200;
    text-decoration: none;
    color: $myProfileColor;
    transition: all 300ms ease;
    &:hover{
      color: $myProfileColorHover;
    }
  }
}

@media screen and(max-width: 920px) {
  .user {
    &-block{
      width: 50px;
    }
    &-name {
      display: none;
    }
    &-describe{
      width: 220px;
    }
  }
}
@media screen and(max-width: 750px) {
  .user {
    &-describe{
      //width: 220px;
      //height: auto !important;
      background-color: $white;
      border: none;
      justify-content: center !important;
      align-content: flex-start !important;
      padding: 0 !important;
      align-items: flex-start !important;
    }
    &-avatar-big-photo{
      //margin-left: 20px;
      margin-top: 10px !important;
    }
    &-logout-href{
    }
  }
}